*{ margin:0; padding:0 }

body {
    margin: 0;
    
}

#main-container {
    margin: auto;
    background-color: rgb(16, 26, 92);
    width: 60%;
    padding: 60px;
    margin-top: 40px;
    border-radius: 50px;
    border: 5px solid #000000;
}

.maintext {
    font-size: 55px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: space-around;
}



.home, .guest {
    font-family: 'Cursed Timer ULiL', sans-serif;
    text-align: center;
}


#home-num, #guest-num {
    font-size: 100px;
    color:#F94F6D;
    border-style: none;
    background-color: #080001;
    display: inline-block;
    width: 205px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 5px;
}


#btn {
    color: #ffffff;
    border: 2px solid #9AABD8;
    padding: 8px;
    margin: 3px;
    background-color: rgb(16, 26, 92);
    margin-top: 20px;
    font-size: 30px;
}
    
#reset {
    text-align: center;
    color: #ffffff;
    text-align: center;
    background-color: rgb(16, 26, 92);
    font-size: 30px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    border: 2px solid #ffffff;
    padding: 10px 20px 10px 20px;
    
}

#reset-flex {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
